CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret
FIREBASE_WEB_API_KEY=your-firebase-web-api-key
ALLOWED_ADMIN_UIDS=your-admin-uid
